@page "/c_caja"
@inject CajaBLL cajaBLL

<EditForm Model="cajaBLL">
    <div class="card">    
    
        <div class="card-header">
            <h4>Consulta Cajas
                  <div class="oi oi-people"></div>
            </h4>
        </div>
  
       <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">

                  <div class="form-group col-md-3">
                  <InputSelect class="form-select text-14" @bind-Value="Filtro">                                
                        <option value="0">CajaId </option>
                        <option value="1">Fecha </option>
                        <option value="2">Concepto </option>
                        <option value="3">Cantidad </option>           
                    </InputSelect>
                    </div>
               <div class="Form-group col-md-1"></div>
    
                   <div class="Form-group col-3" >
                        <label>Criterio</label>
                        <InputText class="form-control" @bind-Value="Criterio" placeholder="Ingrese el criterio de busqueda"  />
                    </div>

                    <button type="button" class="btn btn-success" @onclick="Consultar">
                        <i class="oi oi-grid-four-up mr-2" /> Consultar
                    </button>                   
                </div>
            </form>
        </div>
    
         <table class="table table-light table-striped table-bordered">
            <thead class="thead">
                <tr class="table">
                    <th>CajaId</th>
                    <th>Fecha</th>
                    <th>Concepto</th>    
                    <th>Cantidad</th>                  
                </tr>
            </thead>
          <tbody>
                @foreach (var item in LCaja)
                {
                    <tr>
                        <td>@item.CajaId</td>                      
                        <td>@item.Fecha</td>                      
                        <td>@item.Concepto</td>
                        <td>@item.Cantidad</td>
                    </tr>                   
                }          
            </tbody>         
        </table>
 </div>
</EditForm>

@code{
    
    #nullable disable 
    public string Filtro;
    public string Criterio;
    public List<Caja> LCaja { get; set; } = new List<Caja>();
    public Caja caja { get; set; } = new Caja();    
    bool listado = false;


  protected override void OnInitialized()
    {
        Filtro = "0";
        LCaja = cajaBLL.GetList(e => true);
    }
    private void Consultar()
    {
        LCaja = new List<Caja>();
        caja = new Caja();

        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "0": 
                        LCaja = cajaBLL.GetList(e => e.CajaId == int.Parse(Criterio));
                    break;

                case "1": 
                LCaja = cajaBLL.GetList(o => o.Fecha.ToString().Contains(Criterio));
                    break;

                case "2": 
                        LCaja = cajaBLL.GetList(p => p.Concepto.ToLower().Contains(Criterio.ToLower()));
                    break;

                case "3": 
                        LCaja = cajaBLL.GetList(e => e.Cantidad == double.Parse(Criterio));
                    break;       
            }
        }
    }
}